# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
*.local
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.production
